<div class="container">
  <div class="row">
    <div class="col-md-6 col-12 mt-4">
      <h1 class="text-center font-weight-bold text-success">{{editMode? 'Update Employee':'Create Employee'}}</h1>
      <form #empInfoData="ngForm" (ngSubmit)="createOrUpdateEmployee(empInfoData.value)" class="text-primary">
        <div class="form-group">
          <label for="formGroupExampleInput">Name</label>
          <input type="text" class="form-control" placeholder="Name" ngModel name="name">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Salary</label>
          <input type="number" class="form-control" placeholder="Salary" ngModel name="salary">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Age</label>
          <input type="number" class="form-control" placeholder="Age" ngModel name="age">
        </div>
        <div class="custom-file">

          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Choose Profile Image</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">{{editMode? 'UPDATE':'CREATE'}}</button>
      </form>
    </div>
    <div class="col-md-6 col-12 pt-4">
      <h1 class="text-center font-weight-bold text-success">Employee Data</h1>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr class="table-secondary">
              <th><input type="checkbox" [checked]="isAllCheckBoxChecked()" (change)="checkAllCheckBox($event)"></th>
              <th (click)="sort('employee_name')">Name&nbsp;<i class="fa fa-sort" aria-hidden="true"></i></th>
              <th (click)="sort('employee_salary')">Salary&nbsp;<i class="fa fa-sort" aria-hidden="true"></i></th>
              <th (click)="sort('employee_age')">Age&nbsp;<i class="fa fa-sort" aria-hidden="true"></i></th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let emp of employeeData | orderBy: key: reverse;index as i">
              <th scope="row"><input type="checkbox" value="{{emp.id}}" [(ngModel)]="employeeData[i].checked"></th>
              <td>{{emp.employee_name}}</td>
              <td>{{emp.employee_salary}}</td>
              <td>{{emp.employee_age}}</td>
              <td (click)="editEmployee(i,emp.id)"><i class="fa fa-pencil" aria-hidden="true"></i></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="delete_btn text-center mt-3">
        <button class="btn btn-danger" (click)="deleteEmployee()">DELETE</button>
      </div>
      <div class="alert alert-warning alert-dismissible fade show mt-3" role="alert" *ngIf="showDelItem">
        <strong>Employee with Id :-</strong> {{deletedEmployee}}.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>